<div class="container">
  <div class="row">
    <div class="col text-center">
    </div>
    <div class="col-sm-6">
        <div class="row mb-3">

            <% @notifications.each do |n| %>
                <div class="card mb-3"> 
                    <div class= "row mt-1 mb-1">
                      <%if n.action == "commented"%>
                      <%= "#{n.actor_id} #{n.action} on your" %> <%=link_to n.notifiable_type, post_path(id: n.notifiable_id)%>
                        <% elsif n.action == "liked"%>
                          <%= "#{n.actor_id} #{n.action} your" %> <%=link_to n.notifiable_type, post_path(id: n.notifiable_id)%>
                        <% elsif n.action == "accepted your friend request"%>
                          <%= "#{n.actor_id} #{n.action}."%>
                          <% elsif n.action == "sent a friend request"%>
                          <%= "#{n.actor_id} #{n.action}."%>
                        <% end %>
                    </div>
                </div>
                <%end%>
        </div>

    </div>
    <div class="col text-center">
    </div>
  </div>
</div>


