<% @posts.each do |post| %>
<div class="card mb-3"> 
    <div class= "row mt-1 mb-1">
        <div class="col no-gutters">
            <img class="rounded-circle" src="https://bulma.io/images/placeholders/64x64.png">
        </div>
        <div class="col-6 text-left">
            <strong><%=post.user.name%></strong> </br>
            <small> <%= post.created_at.to_date %></small>
        </div>

        <% if user_signed_in? && current_user.id == post.user.id%>

        <%# testing dropdown menu %>
        <%# <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        %>





            <div class="col btn-group-sm mr-2" role="group" aria-label="Second group">         
                <button type="button" class="btn btn-secondary"><%= link_to post do %>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
                        </svg>
                    <% end %> 
                </button>
        

                <button type="button" class="btn btn-secondary"><%= link_to edit_post_path(post) do %>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    <% end %> 
                </button>
                    
                    <button type="button" class="btn btn-secondary"><%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="white" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        <% end %> 
                    </button>
        
            </div>   
            <% else %>
                <div class="col">

                </div>
            <% end %>         
    </div>
    
    <div class= "row">
        <div class="col">
            <div>
                <div>
                    <%= post.post %>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class= "col tet-left">
                <p>
                    <small> <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%> </small>
                </p>
            </div>

            <div class= "col text-right">
                <small> <%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Comments'%> </small>
            </div>

        </div>
        <div class="btn-group mb-1">
        <% if user_signed_in? %>  
                <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                
                <% if pre_like %>
                    <%= link_to post_like_path(post, pre_like), method: :delete, class: "btn btn-outline-secondary" do %> 
                        <span class="icon"><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                    <% end %>

                <% else %>
                    <%= link_to post_likes_path(post), method: :post, class: "btn btn-outline-secondary" do %> 
                        <span class="icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <% end %>
                <% end %>
        <% end %>
            <%= link_to "Comment", "#", class: "btn btn-outline-secondary" %>
        </div>

    <div class="row mb-1">
        <div class="col">
            <% post.comments.each do |c| %>
                <div class="card mb-1">
                    <div class= "row no-gutters align-items-center">
                        <div class="col-md-auto">
                            <img class="rounded circle" src="https://bulma.io/images/placeholders/32x632.png">
                        </div>
                        <div class="col text-left">
                            <small> <%= link_to c.user.name, user_path(id: c.user.id), class: "deco-none" %> </small>
                            <br>
                            <%= c.body %>
                        </div>
                    </div>                
                </div>
            <% end %>
                <% comment = Comment.new %>
                <%= render partial: "comments/form", locals: { comment: comment, post: post } %>
        </div>
    </div>
        
</div>

<% end %> 