<!DOCTYPE html>
<html>
  <head>
    <title>Railsbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
    <script src="https://kit.fontawesome.com/12500c009c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
  
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar mb-1 navbar-expand-lg navbar-dark bg-primary">
    <%= link_to "Railsbook", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <% if user_signed_in?%>
    <div class="navbar-nav ml-auto">
      <%= link_to current_user.name, current_user, class: "nav-link"%>
      <%= link_to "Find New Friends", users_path, class: "nav-link"%>
      <%= link_to "Notifications", notifications_path, class: "nav-link"%>




      <a class="nav-link" href="#">TBD</a>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </div>
    <% else  %>
        <div class="navbar-nav ml-auto">
        <%= link_to "Sign In", new_user_session_path, class: "nav-link"%>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"%>
        </div>
    
  <% end %>
  </div>
</nav>

<div class ="container">
    <%= yield %>
</div>

    
  </body>
</html>
